<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1075468348747-b7v6m3kmrepb0k9djqel1nl5cjmpjvov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075468348747-b7v6m3kmrepb0k9djqel1nl5cjmpjvov</string>
	<key>API_KEY</key>
	<string>AIzaSyCGeyxBt-tqmHPwqINMKRAc4qwwXlfUPA8</string>
	<key>GCM_SENDER_ID</key>
	<string>1075468348747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.yuukunn3777.SampleFirebase</string>
	<key>PROJECT_ID</key>
	<string>samplefirebase-fd806</string>
	<key>STORAGE_BUCKET</key>
	<string>samplefirebase-fd806.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075468348747:ios:2a07a04a63c99754ad8cce</string>
</dict>
</plist>